{% load static %}
<!-- Header Section Begin -->
<header class="header-section">
    <div class="container-fluid">
        <div class="logo">
            <a href="./index.html">
                <img src="{% static 'img/logo.png' %}" alt="">
            </a>
        </div>
        <div class="top-social">
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="container">
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                      {% url 'home' as url_home %}
                        <li {% if request.path == url_home %}class='active'{% endif %}><a href="{{ url_home }}">Home</a></li>
                      {% url 'about' as url_about %}
                        <li {% if request.path == url_about %}class='active'{% endif %}><a href="{{ url_about }}">About us</a></li>
                        <li><a href="./schedule.html">Schedule</a></li>
                        <li><a href="{% url 'gallery_product' %}">Gallery</a></li>
                        <li><a href="">Blog</a>
                            <ul class="dropdown">
                                <li><a href="./about-us.html">About Us</a></li>
                                <li><a href="./blog-single.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="./contact.html">Contacts</a></li>

                        {% if request.user.is_authenticated %}
                        <li class='ml-5'><a href="{% url 'profile' %}">{{request.user}}</a></li>
                        {% if request.user.profile.poster %}
                        <li><a href="{% url 'profile' %}" style='width: 50px;'>{{ request.user.profile.poster }}</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}">Sign Out</a></li>
                        {% else %}
                        <li><a href="{% url 'login_page' %}">Sign In</a></li>
                        <li><a href="{% url 'register_page' %}">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->
