{% extends 'wrepper_1.html' %}

{% block title %}
Fill your profile | DjSports
{% endblock %}

{% block content %}
{% if request.user.profile.face %}
{% include 'errors/changed_profile.html' %}
{% else %}
<div class="container">
	<div class="col-md-8 order-md-1" styl = "margin-top:100px">
		<h4 class="mb-3" style ="color:red;">Fill Profile</h4>
		<form class="needs-validation" novalidate=""method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-error">{{ form.non_field_errors }}</div>
			<div class="row" style = "margin-top:150px;">
				<div class="col-md-6 mb-3">
					<label for="inputEmail" style="color:red; border-color:red;">First Name</label>
		      <input type="text" id="inputEmail" class="form-control" name="first_name" placeholder="First Name" required="" autofocus="" style="color:red;border-color:red;">
				</div>
				<div class="col-md-6 mb-3">
					<label for="lastName" style ="color:red;">Last name</label>
					<input type="text" class="form-control" id="lastName" name='last_name' placeholder="Last Name" value="{{ profile.last_name }}" required=""style ="color:red;border-color:red;">
				</div>
			</div>
			<div class="mb-3">
				<label for="email" style ="color:red;">Email(Optional)</label>
				<input type="email"  name='email' style ="color:red;border-color:red;" class="form-control" id="email" placeholder="Email">
			</div>
			<div class="row">
			<div class="col-md-6 mb-3">
				<label style ="color:red;">
						Choose your Face
					</label>
				<div class="custom-file" id="customFile" lang="es">
					<input type="file" class="custom-file-input" id="exampleInputFile" name="face" aria-describedby="fileHelp">
					<label class="custom-file-label" for="exampleInputFile" style ="color:red;">
						Select file...
					</label>

				</div>
			</div>
			<div class="col-md-6 mb-3">
				<div class="custom-file" id="customFile" lang="es">
					<label for="exampleInputAge" style ="color:red;">
						Enter you Age
					</label>
					<input id="exampleInputAge"style ="color:red;border-color:red;" placeholder="Enter Age" type="number" class="form-control" name="age" >
				</div>
			</div>
			</div>
			<div class="mb-3">
				<label for="email" style ="color:red;">Intro <span class="text-muted" style ="color:red;"></span></label>
				<textarea type="text"  name='intro' class="form-control" id="email" placeholder="Enter Intro" style ="color:red;border-color:red;"></textarea>
			</div>
			<button class="btn btn-danger btn-lg btn-block" type="submit">Apply</button>
		</form>
	</div>
</div>
{% endif %}
{% endblock %}
