{% extends 'wrepper.html' %}


{% block title %}
{{ request.user }} | DjSports users
{% endblock %}

{% block content %}
{% load static %}

<img src="{% static 'img/hero-slider/hero-3.jpg' %}" alt="">
<div style='position:absolute; color:white; top: 150px; left: 40px;'>
<h3 style='color: white;' class="mb-4">{{ request.user }}</h3>
<p>First Name:  {{ request.user.profile.first_name }}</p>
<p>Last Name:  {{ request.user.profile.last_name }}</p>
<p>Age:  {{request.user.profile.age}}</p>
<p>Intro: {{ request.user.profile.intro }}</p>
<p>Email: {{ request.user.profile.email }}</p>

<p class="mt-5"><a href="{% url 'fillprofile' %}?profile-form=trener">Trener</a></p>
<p class="mt-5"><a href="{% url 'fillprofile' %}?profile-form=pupils">User</a></p>

</div>
{% endblock %}
