{% extends 'wrepper_1.html' %}
{% load static %}
{% block title %}
Register | DjSports Registration
{% endblock %}

    {% block content %}
    <header class="d-flex flex-column flex-md-row align-items-center p-5 px-md-5 mb-4 bg-red border-bottom shadow-sm" style = "backgroud-color:red;">
    </header>
    <div class="text-center" style="margin-top:150px;margin-left:auto; margin-right:auto; width:400px;">
    <form class="form-signin" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <span class="error-message">{{ error }}</span>
    {% endfor %}
    <h1 class="h3 mb-3 font-weight-normal" style = "color:red;">Please sign Up</h1>
    <label for="inputEmail" class="sr-only">Login</label>
    <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Username" required="" autofocus="" style ="color:red;border-color:red;">
    <br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="" style = "color:red;border-color:red;"><br>
    <button class="btn btn-lg btn-danger btn-block" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
    </form>
    </div>
    {% endblock %}
