{% extends 'wrepper.html' %}

{% block title %}
Register | DjSports Registration
{% endblock %}

{% block content %}
<div class="text-center" style="margin-left:auto; margin-right:auto; width:400px;" >
    <form class="form-signin" method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="form-error">{{ form.non_field_errors }}</div>
      <h1 class="h3 mb-3 font-weight-normal">Please sign Up</h1>
      <label for="inputEmail" class="sr-only">Login</label>
      <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Email address" required="" autofocus="">
      <br>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required=""><br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
    </form>

</div>
{% endblock %}
