{% extends 'wrepper_1.html' %}

{% block title %}
Update your profile | DjSports
{% endblock %}

{% block content %}
<div class="container">
	<div class="col-md-8 order-md-1" styl = "margin-top:100px">
		<h4 class="mb-3" style ="color:red;">Update Profile</h4>
		<form class="needs-validation" novalidate=""method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{% for error in form.non_field_errors %}
				<span class="error-message" style='position:absolute;margin-top:-30px;'>{{ error }}</span>
			{% endfor %}
			<div class="row" style = "margin-top:150px;">
				<div class="col-md-6 mb-3">
					<label for="inputEmail" style="color:red; border-color:red;">First Name</label>
		      <input type="text" id="inputEmail" class="form-control" name="first_name" placeholder="" value="{{ request.user.profile.first_name }}" required="" autofocus="" style="color:red;border-color:red;">
				</div>
				<div class="col-md-6 mb-3">
					<label for="lastName" style ="color:red;">Last name</label>
					<input type="text" class="form-control" id="lastName" name='last_name' placeholder="" value="{{ request.user.profile.last_name }}" required=""style ="color:red;border-color:red;">

				</div>
			</div>
			<div class="mb-3">
				<label for="email" style ="color:red;">Email(Optional)</label>
				<input type="email"  name='email' style ="color:red;border-color:red;" class="form-control" id="email" value="">
			</div>
			<div class="row">
			<div class="col-md-6 mb-3">
				<label style ="color:red;">
						Choose your Face
					</label>
				<div class="custom-file" id="customFile" lang="es">
					<input type="file" class="custom-file-input" id="exampleInputFile" name="face" aria-describedby="fileHelp">
					<label class="custom-file-label" for="exampleInputFile" style ="color:red;">
						Select file...
					</label>

				</div>
			</div>
			<div class="col-md-6 mb-3">
				<div class="custom-file" id="customFile" lang="es">
					<label for="exampleInputAge" style ="color:red;">
						Enter you Age
					</label>
					<input id="exampleInputAge"style ="color:red;border-color:red;"value="{{ request.user.profile.age }}" type="number" class="form-control" name="age" >
				</div>
			</div>
			</div>
			<div class="mb-3">
				<label for="email" style ="color:red;">Intro <span class="text-muted" style ="color:red;"></span></label>
				<textarea type="text"  name='intro' class="form-control" id="email" style ="color:red;border-color:red;">{{ request.user.profile.intro }}</textarea>
			</div>
			<button class="btn btn-danger btn-lg btn-block" type="submit">Apply</button>
		</form>
	</div>
</div>
{% endblock %}
