{% extends 'wrepper_1.html' %}

{% block title %}
Sport Product | DjSports
{% endblock %}

{% block content %}
{% if request.user.profile.face %}
{% include 'errors/changed_profile.html' %}
{% else %}
<div class="container">
	<div style='margin-top: 100px;'>
		<h4 class="mb-3" style ="color:red;">Sport Product</h4>
		{% for message in messages %}
		<div class="message {{ message.tags }}">
		    {{ message }}
		</div>
		{% endfor %}
			<form class="needs-validation" novalidate=""method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{% for f in form %}
						<p><label for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
					<span>{{f.errors}}</span>

						{% endfor %}
			<button type="submit" style = "btn btn-sm btn-outline-danger">add</button>
		</form>
	</div>
</div>
{% endif %}
{% endblock %}
